*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color:black;
    color: white;
    font-family: tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}
.menu{
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;
    position: fixed;
    top:0;
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid hsl(30, 100%, 50%)
}
.menu li{
    display: inline;
}
@media screen and (max-width: 817px) { 
    /* Serve para estilizar quando a janela tiver menos de 817 pixels */ 
    .menu li{
        display: block;
        text-align: left;
        padding:10px 0px;
    }
    .dropdown{
        margin-left:23px;
        width: 200px;
    }
    .dropdown:hover{
        margin-left:10px;
    }
    .dropdown-content{
        margin-left:238px;
        margin-top:-44px;
        border-right: 1px solid hsl(30, 100%, 50%);
        border-bottom: 1px solid hsl(30, 100%, 50%);
        border-top: 1px solid hsl(30, 100%, 50%);
    }
    h1{ margin-top: 215px;}
}
.menu li a{
    color: hsl(30, 100%, 50%);
    text-decoration: none;
    padding: 10px 15px; 
}
.menu li a.right{
    text-align: right;
}
.active{
   background-color: hsl(30, 100%, 100%); 
   
   /* para sinalizar a página atual */
}
.menu li a:hover:not(.active){
    background-color: hsl(30, 100%, 50%);
    color: black;
    
}
.dropdown{
    position: relative;
    display: inline-block;
    color:hsl(30, 100%, 50%);
    padding: 0 15px; /* Faz a distancia dos links em NAV ficarem resposivos, mas quando a janela fica muito pequena buga */
}
.dropdown-content{
    display: none;
    position: absolute;
    border-right: 1px solid hsl(30, 100%, 50%);
    border-bottom: 1px solid hsl(30, 100%, 50%);
    border-left: 1px solid hsl(30, 100%, 50%);
    min-width:160px;
    padding:15px 8px;
    z-index:1;
    top:44px;
    left:-38px;
    
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin:8px;
  }
.dropdown:hover{
    background-color: hsl(30, 100%, 50%);
    color: black;
    padding:10px 15px;
}
.dropdown:hover .dropdown-content{
    display: block;
}
h1{
    text-align: center;
    padding-top: 60px;
}
.container{
    display: flex;
    justify-content: center;
}
.container .box1{
  margin:60px 20px;
  padding-top:40px;
  height:300px;
  width:600px;
}
.container .box1 h2{
    background-color: hsl(30, 100%, 50%);
    color: black;
    text-align: center;
}
.container .box1 p{
    background-color: hsl(30, 100%, 50%);
    color: black;
    text-align: justify;
    padding:20px 10px;
}
.container .box-name p strong{
    background-color: hsl(30, 100%, 50%);
    color: black;
}
.container .box-name{
    margin:60px 20px;
    padding-top:40px;
    height:100px;
    width:600px;
}
.box-name h2{
    text-align: center;
    margin-top: 30px;
}
.container .box-name h2{
    background-color: hsl(30, 100%, 50%);
    color: black;
    text-align: center;
}
.container .box-name p{
    background-color: hsl(30, 100%, 50%);
    color: black;
    text-align: center;
    padding:20px 10px;
}
.container .box-image{
    height: 150px;
    margin-top: 100px;
}
.container .box-image img{
    height: 100%;
    margin-right: 10px;
}
.container .box2{
    width: 300px;
    margin-top:60px
}
.container .box2 img{
    width: 100%;
}
.container .box1 p em{
    background-color: hsl(30, 100%, 50%);
    color: black;
}
.rolagem{
    margin-top: 40px;
    text-align: center;
}
.rolagem a{
    padding:15px;
    text-decoration: none;
}
.rolagem a:hover{
    color: hsl(30, 100%, 50%);
}
form{
    margin:50px auto;
    width: 400px;
    padding: 1em;
    border: 1px solid hsl(30, 100%, 50%);
    border-radius: 1em;
}

label{
    display: inline-block;
    width: 90px;
    text-align: right;
}
label:hover{
    color:hsl(30, 100%, 50%);
}
input, textarea{
    width: 250px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid hsl(30, 100%, 100%);
}
input:focus, textarea:focus{
    border-color: hsl(30, 100%, 50%);
}
/* .button{
    padding-left: 90px;
}
button{
    margin-left: .5em;
}
button:hover{
    color:hsl(30, 100%, 50%);
} */
textarea,
form input[type=email],
form input[type=text],
form input[type=password]{
    width:100%;
    height: 45px;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    margin:10px 0px;
}
form input[type=submit]{
    width: 100%;
    height: 30px;
    cursor: pointer;
}
form button{
    width:100%;
    height: 30px;
    border: 1px solid white;
    padding-left: 10px;
    padding-right: 10px;
    margin:20px 0px 10px;
    cursor: pointer;
}
form button:focus{
    border-color: hsl(30, 100%, 50%);
}
form button a{
    text-decoration: none;
}